# compiled output
/dist
/tmp

# dependencies
/node_modules

# models
/db/data

# logs
npm-debug.log
/yarn-error.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/webappnpm-debug.log
/webapptestem.log
/typings
/server/.sass-cache
/server/connect.lock
/server/coverage/*
/server/libpeerconnection.log

#System Files
.DS_Store
Thumbs.db

/data
/frontend/dist
/docs/html
/docs/reports
/coverage