# compiled output
webapp/dist
webapp/tmp

# dependencies
/webapp/node_modules

# models
/db/data

# logs
npm-debug.log
/webapp/yarn-error.log
/webapp/yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/webapp/.sass-cache
/webapp/connect.lock
/webapp/coverage/*
/webapp/libpeerconnection.log
/webappnpm-debug.log
/webapptestem.log
/webapp/typings
/server/.sass-cache
/server/connect.lock
/server/coverage/*
/server/libpeerconnection.log

#System Files
.DS_Store
Thumbs.db

#Server html backend.docs
/webapp/docs/html
